::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(7, 241, 18, 0.302);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(235, 201, 13, 0.5);
}
html,body{
    height:100%
}
body{
    max-width:580px;
    font-family: 'Baloo Thambi 2', cursive;
    margin:0 auto;
    line-height:1.7;
    font-size:18px;
    color:#333;
    padding:2em 1em;
    text-rendering:optimizeLegibility;
    height:100%
}
@media screen and (max-width: 600px){
    body{
        max-width:100%;
        padding:1em
    }
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Baloo Thambi 2', cursive;
    font-weight:bold;
    line-height:1.5;
    margin:0;
    text-transform:capitalize
}
a{
    color:#60c17d;
    text-decoration:none
}
a:hover{
    color:#333
}
p a{
    color:#333;
    text-decoration:none;
    background:-webkit-linear-gradient(transparent 90%, #85cf9b 10%);
    background:-moz-linear-gradient(transparent 90%, #85cf9b 10%);
    background:linear-gradient(transparent 90%, #85cf9b 10%);
    -webkit-box-shadow:inset 0 0 0 0 #85cf9b;
    box-shadow:inset 0 0 0 0 #85cf9b;
    -webkit-transition:box-shadow ease 1s;
    -moz-transition:box-shadow ease 1s;
    transition:box-shadow ease 1s
}
p a:hover{
    color:#fff;
    -webkit-box-shadow:inset 0 -100px 0 0 #85cf9b;
    box-shadow:inset 0 -100px 0 0 #85cf9b
}
figure{
    margin:0
}
img{
    max-width:100%
}
pre,code{
    overflow:auto;
    font-size:14px;
    border-radius:3px;
    border:1px solid #60c17d
}
pre>code,code>code{
    border:none
}
pre{
    padding:1em
}
code{
    padding:0.1em
}
blockquote{
    border-left:2px solid #60c17d;
    padding-left:1em;
    font-family: 'Baloo Thambi 2', cursive;
    font-size:18px;
    font-style:italic
}
.headline,.post-headline{
    font-size:4em;
    margin-bottom:0.5em
}
@media screen and (max-width: 600px){
    .headline,.post-headline{
        font-size:2em
    }
}
.article-list{
    margin:1em 0
}
.pagination{
    margin:2em 0;
    text-align:center
}
.pagination a:hover{
    background-color:transparent;
    color:#333
}
.pagination a,.pagination span{
    padding:7px 18px;
    border:1px solid #eee;
    margin-left:-4px;
    margin-right:-4px;
    background-color:transparent;
    display:inline-block
}
.video{
    width:100%;
    height:360px
}
@media screen and (max-width: 1000px){
    .video{
        height:300px
    }
}
@media screen and (max-width: 600px){
    .video{
        height:180px
    }
}
#markdown-toc::before{
    content:"Contents";
    font-weight:bold
}
#markdown-toc ul{
    list-style:decimal
}
#markdown-toc{
    border:1px solid #60c17d;
    padding:1.5em;
    list-style:decimal;
    display:inline-block
}
.theme{
    cursor:pointer
}
footer{
    position:relative;
    top:2em
}
.links a{
    margin-right:1em
}
.copy{
    color:rgb(32, 21, 21)
}
.divider{
    margin:1em 0
}
.meta {
    font-size: 14px;
    color: #4516f0de;
    text-transform: uppercase;
    font-weight: bold;
    -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   text-rendering: optimizelegibility !important;
}
table {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 12px;
    -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   text-rendering: optimizelegibility !important;
   border-bottom:2px solid #bbb !important;background-color:#d3d3d3
}
th {
   white-space: nowrap;
}
