@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ul, ol {
      list-style: square;
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(106, 9, 231, 0.302);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(247, 18, 189, 0.5);
}
body{
    font-family: 'Anek Tamil', sans-serif;
    text-rendering:optimizeLegibility;
}
table{
    width:100%;
    padding: 12px;
    -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   text-rendering: optimizelegibility !important;
 }
th {
   overflow-wrap: break-word;
}
tr {
  overflow-wrap: break-word;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid rgb(19, 13, 13);
    overflow-wrap: break-word;
}
th, td {
    text-align: left;
    padding: 10px;
}
table, th, td {
    border: 1px solid black;
}
table thead tr,
table tfoot tr{
  background: rgba(0,0,0,0.2);  
}
table tbody tr {
  background: rgba(231, 3, 3, 0.08);  
}
table tr>th {
  text-align: left;
}
table tr>th, tr>td {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px 15px;
}
#pagination {
  display: block;
  padding:10px;
  text-align:center;
}
#pagination > a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  border-right: 0;
  background-color: #7bff0014;
  color: #000;
  font-weight: 600;
}
#pagination > a:last-child {
  border-right: 1px solid rgba(0,0,0,0.2);
}
#pagination > a:hover {
  color: #FB3C00;
}