<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><meta name="theme-color" content="#ffffff"><link rel="shortcut icon" href="/icons/Icon-48.png" type="image/png"><link rel="canonical" href="<%= seourl %>"><meta name="mobile-web-app-capable" content="yes"><meta name="application-name" content="Kavithai image"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="white-translucent"><meta name="apple-mobile-web-app-title" content="Kavithai image"><meta name="HandheldFriendly" content="True"><link rel="apple-touch-icon" sizes="48x48" href="/icons/Icon-48.png"><link rel="apple-touch-icon" sizes="72x72" href="/icons/Icon-72.png"><link rel="apple-touch-icon" sizes="96x96" href="/icons/Icon-96.png"><link rel="apple-touch-icon" sizes="144x144" href="/icons/Icon-144.png"><link rel="apple-touch-icon" sizes="192x192" href="/icons/Icon-192.png"><link rel="apple-touch-icon" sizes="256x256" href="/icons/Icon-256.png"><link rel="apple-touch-icon" sizes="512x512" href="/icons/Icon-512.png"><title>Friendship Day Greeting Generator - நண்பர்கள் தின வாழ்த்துக்கள்</title><meta name="description" content="நண்பர்கள் தின வாழ்த்துக்கள் - Create Your Tamil Friendship Day Greeting Wish image - Friendship Day Greeting Generator Send Wishing image to your Friends."><meta property="og:image" content="<%= homepage %>randomkavithai.png"><meta property="og:image:secure_url" content="<%= homepage %>randomkavithai.png"><meta property="og:image:alt" content="Tamil kavithai"><meta property="og:image:type" content="image/png"><meta property="og:image:width" content="1200"><meta property="og:image:height" content="627"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link rel="preconnect" href="https://images.weserv.nl"><link rel="stylesheet" type="text/css" href="/build/css/template.css"><link rel="manifest" href="/manifest.json"> <%- umami %> </head><body><div class="min-h-screen px-4 py-16 mx-auto sm:px-6 lg:px-8 bg-blue-200"><div class="max-w-lg mx-auto"><h1 class="text-2xl font-bold text-center text-indigo-600 sm:text-2xl">நண்பர்கள் தின வாழ்த்துக்கள்</h1><p class="max-w-md mx-auto mt-4 text-center text-gray-500 font-bold">நண்பர்கள் தின வாழ்த்துக்கள் - Create Your Tamil Friendship Day Greeting Wish image - Friendship Day Greeting Generator Send Wishing image to your Friends.</p><br><div class="flex items-center justify-center"><img class="w-80" src="https://images.weserv.nl/?url=https://generate.tamilwords.net/friend-yourname.png&w=600" alt="Friendship Day"></div><form id="postData" class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-2xl bg-amber-200"><div><div class="relative mt-1"><input type="text" id="name" name="name" class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm text-lg" placeholder="Your Name" maxlength="30" autocomplete="off"> <span class="absolute inset-y-0 inline-flex items-center right-4"><svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"/></svg></span></div></div><button type="submit" class="block w-full px-5 py-3 text-lg font-medium text-white bg-purple-600 rounded-lg">Create</button></form><div id="notice"></div></div><br></div><script>var el = document.querySelector('#postData');
if (el) {
    el.addEventListener('submit', postData);
}
function slugify(string) {
    return string
      .toString()
      .trim()
      .toLowerCase()
      .replace(/\s+/g, "-")
      .replace(/\-\-+/g, "-")
      .replace(/^-+/, "")
      .replace(/-+$/, "")
      .replace(/-+@/, "")
      .replace("<script>", "script")
      .replace("(", "")
      .replace(")", "")
}
function postData(event) {
    event.preventDefault();
    let name = document.querySelector('#name').value;
    console.log(name);
    if (name == 0 || name == null) {
        console.log('Empty Name');
        document.getElementById("notice").innerHTML = '<br /><p class="text-center font-bold">Enter your Name</p>';
    } else {
        window.open("https://generate.tamilwords.net/wish/friend/" + slugify(name), "_self", "noopener, noreferrer");
    }
}</script></body></html>